@import "bootstrap-sprockets";
@import "bootstrap";


// Place all the styles related to the Appointments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  width:500px;
  margin:auto;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  padding-bottom: 200px;
}

.appointment {
  paddint-top: 10px;
  border-bottom: solid 1px #ccc;
}
